body .cabecalho {
    background-image: #383D58;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
}

.cabecalho-imagem {
    width: 20;
}
.cabecalho-lista-item{
    display: inline-block;
  margin: 0 16px;
}
    {
    margin: 0;
    padding: 0;
}